<div class="card">
  <div class="card-header bg-white pl-0 pt-1">
    <h4 *ngIf="!isResetMode" class="card-title">Change Password</h4>
    <h4 *ngIf="isResetMode" class="card-title">Reset Password Process</h4>
  </div>

  <div class="card-block">

    <form name="changepasswordform" #f="ngForm" novalidate (ngSubmit)="save(f)">
      <input type="hidden" name="id" [(ngModel)]="passwordChangeData.userid" #id="ngModel" />

      <div *ngIf="!isResetMode" class="form-group mt-3">
        <ng-template #oldPasswordTipContent>Please enter your old password in order for us to ensure you have authorisation to change the existing password. This field is for your own protection, if you cannot remember your password please follow the forgotten password process.</ng-template>
        <img src="../../assets/icons/question_small_icon.png" class="mr-1" [ngbTooltip]="oldPasswordTipContent" />
        <label for="oldPassword">Old Password</label>
        <input id="oldPassword" type="password" required validatePassword name="oldPassword" class="form-control" [disabled]="!isEditMode" placeholder="Current Password"
               [ngClass]="{'is-invalid': (errors.OldPassword || !oldPassword.valid && !oldPassword.pristine), 'is-valid': !errors.OldPassword && oldPassword.valid && submitted}"
               [(ngModel)]="passwordChangeData.oldPassword" #oldPassword="ngModel">
        <small [hidden]="oldPassword.valid || (oldPassword.pristine && !submitted)" class="text-danger">Password must contain a mix of upper, lower and numeric characters and must be at least 6 characters long</small>
        <small *ngIf="errors.OldPassword" class="text-danger">{{errors.OldPassword}}</small>
      </div>

      <div *ngIf="isResetMode" class="form-group mt-3">
        <ng-template #usernameTipContent>Please enter the username associated with the account you are resetting the password for.</ng-template>
        <img src="../../assets/icons/question_small_icon.png" class="mr-1" [ngbTooltip]="usernameTipContent" />
        <label for="user-name">Username</label>
        <input id="user-name" type="text" required name="username" tmFocus class="form-control" placeholder="Username"
               [ngClass]="{'is-invalid': (errors.SuppliedUserName || !username.valid && !username.pristine), 'is-valid': !errors.SuppliedUserName && username.valid && submitted}"
               [(ngModel)]="passwordChangeData.username" #username="ngModel" (blur)="determine2faStatus()">
        <small *ngIf="errors.Username" class="text-danger">{{errors.Username}}</small>
        <small [hidden]="username.valid || (username.pristine && !submitted)" class="text-danger">Username must be between 6 and 16 characters in length</small>
      </div>

      <div class="form-group">
        <ng-template #passwordTipContent>Please enter your new password you would like to use to access your account.</ng-template>
        <img src="../../assets/icons/question_small_icon.png" class="mr-1" [ngbTooltip]="passwordTipContent" />
        <label for="password">New Password</label>
        <input id="password" type="password" required validatePassword validateEqual="confirmPassword" name="password" class="form-control" [disabled]="!isEditMode" placeholder="Password"
               [ngClass]="{'is-invalid': (errors.Password || !password.valid && !password.pristine), 'is-valid': !errors.Password && password.valid && submitted}"
               [(ngModel)]="passwordChangeData.password" #password="ngModel">
        <small [hidden]="password.valid || (password.pristine && !submitted)" class="text-danger">Password must contain a mix of upper, lower and numeric characters and must be at least 6 characters long</small>
        <small *ngIf="errors.Password" class="text-danger">{{errors.Password}}</small>
      </div>

      <div class="form-group">
        <ng-template #confirmPasswordTipContent>Please confirm the password you entered above.</ng-template>
        <img src="../../assets/icons/question_small_icon.png" class="mr-1" [ngbTooltip]="confirmPasswordTipContent" />
        <label for="passwordConfirm">Confirm New Password</label>
        <input id="passwordConfirm" type="password" required validatePassword validateEqual="password" name="passwordConfirm" class="form-control" [disabled]="!isEditMode" placeholder="Confirm Password"
               [ngClass]="{'is-invalid': (errors.PasswordConfirm || !passwordConfirm.valid && !passwordConfirm.pristine), 'is-valid': !errors.PasswordConfirm && passwordConfirm.valid && submitted}"
               [(ngModel)]="passwordChangeData.passwordConfirm" #passwordConfirm="ngModel">
        <small [hidden]='passwordConfirm.valid || (passwordConfirm.pristine && !submitted)' class="text-danger">The password does not match with confirm password</small>
        <small *ngIf="errors.PasswordConfirm" class="text-danger">{{errors.PasswordConfirm}}</small>
      </div>

      <div *ngIf="isEditMode && requires2fachallenge" class="form-group">
        <div class="alert alert-warning">
          <p for="user-name">
            Because your account is protected by 2FA you must enter the code that was generated by your authenticator app to reset your password.
          </p>
          <p> If you have no access to your authenticator you must follow the account recovery process.</p>
        </div>
        <div>
          <ng-template #verifyCodeTipContent>Enter the verification code generated by your authenticator app.</ng-template>
          <img src="../../assets/icons/question_small_icon.png" class="mr-1" [ngbTooltip]="verifyCodeTipContent" />
          <label for="password">Verification Code</label>
          <input id="verification-code" type="text" name="verificationCode" required class="form-control" placeholder="Verification Code" [disabled]="errors.length > 0"
                 [ngClass]="{'is-invalid': (errors.VerificationCode || !verificationCode.valid && !verificationCode.pristine), 'is-valid': !errors.VerificationCode && verificationCode.valid && submitted}"
                 [(ngModel)]="passwordChangeData.verificationCode" #verificationCode="ngModel">
          <small *ngIf="errors.VerificationCode" class="text-danger">{{errors.VerificationCode}}</small>
        </div>
      </div>

      <div class="form-group text-right">
        <button *ngIf="isEditMode && !isResetMode" type="button" (click)="resetFormState()" class="btn btn-outline-secondary"><i class='fa fa-edit'></i>Cancel</button>&nbsp;
        <button *ngIf="!isEditMode" type="button" (click)="changeToEditMode()" class="btn btn-outline-secondary"><i class='fa fa-edit'></i>Edit Password</button>
        <button *ngIf="isEditMode" type="submit" class="btn btn-primary" [disabled]="f.invalid || isRequesting">
          <app-spinner [isRunning]="isRequesting" [displayText]="'Changing Password'"></app-spinner>
          <span [hidden]="isRequesting">Save Changed Password</span>
        </button>
      </div>

      <div *ngIf="errors.ServerError" class="alert alert-danger" role="alert">
        <strong>The server returned the following errors...</strong> <br /> {{errors.ServerError}}
      </div>
    </form>
  </div>
</div>
