<div class="row">
  <div class="col-md-3"></div>

  <div class="col-md-6">

    <div class="card">


      <div *ngIf="brandNew" class="alert alert-success" role="alert">
        <strong>All set!</strong> Please login with your account
      </div>

      <div class="card-header bg-white">
        <h4 class="card-title">Login...</h4>
      </div>

      <div class="card-block">

        <form #f="ngForm" novalidate (ngSubmit)="login(f)">

          <div class="form-group mt-3">
            <label for="user-name">Email or Username</label>
            <input id="user-name" type="text" required name="username" [ngModel]="credentials.username" #userName="ngModel" tmFocus class="form-control"
                   [ngClass]="{'is-invalid': errors.SuppliedUserName, 'is-valid': !errors.SuppliedUserName && submitted}" placeholder="Username or Email">
            <small *ngIf="errors.SuppliedUserName" class="text-danger">{{errors.SuppliedUserName}}</small>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" required validatePassword name="password" class="form-control"
                   [ngClass]="{'is-invalid': errors.SuppliedPassword, 'is-valid': !errors.SuppliedPassword && submitted}" placeholder="Password" ngModel #password="ngModel">
            <small [hidden]="password.valid || (password.pristine && !submitted)" class="text-danger">Password must contain a mix of upper, lower and numeric characters and must be at least 6 characters long</small>
            <small *ngIf="errors.SuppliedPassword" class="text-danger">{{errors.SuppliedPassword}}</small>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid || isRequesting">Login</button>
          </div>

          <div class="form-group">
            <app-spinner [isRunning]="isRequesting"></app-spinner>
          </div>

          <div *ngIf="errors.ServerError" class="alert alert-danger" role="alert">
            <strong>The server returned the following errors...</strong> <br /> {{errors.ServerError}}
          </div>
      </form>

    </div>
    </div>
  </div>

  <div class="col-md-3"></div>
</div>
