<div class="row">
  <div class="col-md-3"></div>

  <div class="col-md-6">

    <div class="card">

      <div class="card-header bg-white">
        <h4 class="card-title">Welcome to your dahsboard...</h4>
      </div>

      <div class="card-block mt-3">
        <p>Your username is: <strong>{{currentUser.userName}}</strong>.</p>
        <p>Your roles are: <strong>{{currentUser.roles}}</strong>.</p>
        <p>Your auth token is: <strong>{{currentUser.token}}</strong>.</p>
        <p>This page can be accessed by all authenticated users.</p>
      </div>
    </div>

    <div class="col-md-3"></div>
  </div>
</div>
