<div class="row">
  <div class="col-md-12">

    <div class="card">

      <div class="card-header bg-white pl-0 pt-1">
        <h4 class="card-title">Welcome to your dashboard</h4>
      </div>

      <div class="card-block mt-3">
        <p>Your username is: <strong>{{currentUser.userName}}</strong></p>
        <p>Your roles are: <strong>{{UserRoles}}</strong></p>
        <p>Your auth token is: <strong>{{UserToken}}</strong></p>
        <p>This page can be accessed by all authenticated users.</p>
      </div>
    </div>
  </div>
</div>
